.settings-tabs
{
	clear: both;
	margin: 2.5em 0;
}
.settings-tabs .settings-tab
{
	border-left: 1px solid #CCCCCC;
	cursor: pointer;
	font-weight: bold;
	float: left;
	padding: 0.25em 0.5em;
	opacity: 0.65;
}
.settings-tabs .settings-tab:first-child
{
	border-left: 0;
	padding-left: 0;
}
.settings-tabs .settings-tab.active-tab,
.settings-tabs .settings-tab:hover
{
	opacity: 1;
}
.settings-tabs:after
{
	clear:both;
	content:'';
	display:table;
}
.sortable-fields-wrapper p.sortable-field,
.sortable-fields-wrapper .ui-state-highlight
{
	background-color: #FFF;
	border: 1px solid #CCCCCC;
	margin: 1em 0;
	padding: 0.5em;
}
.sortable-fields-wrapper .ui-state-highlight
{
	opacity: 0.65;
}
p.sortable-field span.hndl
{
	cursor: move;
	display: inline-block;
	padding: 0 0.5em;
	max-width: 180px;
	width: 35%;
}
p.sortable-field span.dashicons
{
	font-size: 1em;
	height: 1em;
	width: 1em;
	line-height: inherit;
	opacity: 0.35;
}